There are other database packages in Python, including those specific to particular kinds of databases. We will use sqlalchemy to illustrate the use.

# Classical way (SQL)

In [1]:
import sqlalchemy as db

In [75]:
engine = db.create_engine('sqlite:///../data/BD/SP100Stock/test.sqlite')
conn = engine.connect()
metadata = db.MetaData()

In [35]:
engine.table_names()

['mm', 'mm2', 'price', 'sp100']

In [26]:
from sqlalchemy import inspect
inspector = inspect(engine)
inspector.get_table_names()

['mm', 'mm2', 'price', 'sp100']

In [40]:
metadata.reflect(bind=engine)
metadata.tables.keys()

dict_keys(['sp100', 'mm', 'mm2', 'price'])

In [55]:
q = engine.execute('select * from sp100 limit 10')
re = q.fetchall()
re

[(1, 'AAPL', 'Apple Inc.'),
 (2, 'ABBV', 'AbbVie Inc.'),
 (3, 'ABT', 'Abbott Laboratories'),
 (4, 'ACN', 'Accenture plc'),
 (5, 'AIG', 'American International Group Inc.'),
 (6, 'ALL', 'Allstate Corp.'),
 (7, 'AMGN', 'Amgen Inc.'),
 (8, 'AMZN', 'Amazon.com'),
 (9, 'APA', 'Apache Corp.'),
 (10, 'APC', 'Anadarko Petroleum Corporation')]

In [65]:
re[0].keys()

['ID', 'Symbol', 'Name']

In [56]:
q.close()

In [51]:
q = engine.execute('select * from sp100')
q.fetchone()

(1, 'AAPL', 'Apple Inc.')

## update database (SQLAlchemy)

In [76]:
sp100 = db.Table('sp100', metadata, autoload=True, autoload_with=engine)

In [79]:
results = conn.execute(db.select([sp100])).fetchall()

In [81]:
import pandas as pd
df = pd.DataFrame(results)
df.columns = results[0].keys()

In [82]:
df.head()

   ID Symbol                               Name
0   1   AAPL                         Apple Inc.
1   2   ABBV                        AbbVie Inc.
2   3    ABT                Abbott Laboratories
3   4    ACN                      Accenture plc
4   5    AIG  American International Group Inc.

In [84]:
q = db.update(sp100).values(ID=1000)
q = q.where(sp100.columns.Symbol ==  'AAPL')
re = conn.execute(q)

In [85]:
results = conn.execute(db.select([sp100])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()

In [86]:
df.head()

     ID Symbol                               Name
0  1000   AAPL                         Apple Inc.
1     2   ABBV                        AbbVie Inc.
2     3    ABT                Abbott Laboratories
3     4    ACN                      Accenture plc
4     5    AIG  American International Group Inc.

# Pandas

In [91]:
pd.read_sql('select * from sp100 limit 10', engine)

     ID Symbol                               Name
0  1000   AAPL                         Apple Inc.
1     2   ABBV                        AbbVie Inc.
2     3    ABT                Abbott Laboratories
3     4    ACN                      Accenture plc
4     5    AIG  American International Group Inc.
5     6    ALL                     Allstate Corp.
6     7   AMGN                         Amgen Inc.
7     8   AMZN                         Amazon.com
8     9    APA                       Apache Corp.
9    10    APC     Anadarko Petroleum Corporation

# Magic commands in Jupyter

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///../data/BD/SP100Stock/sp100.sqlite

'Connected: @../data/BD/SP100Stock/sp100.sqlite'

see case5 for  more examples